.sidebar {
  position: fixed;
  width: 80px;
  height: 100%;
  background-color: #121212;
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.button {
  position: relative;
  background-color: inherit;
  border: none;
  color: inherit;
}

.wrapper-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.active {
  color: #4EBF44;
}

.sidebar-icon {
  font-size: 30px;
}

.sidebar-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 20px;
}

.sidebar-social-icon {
  font-size: 20px;
  cursor: pointer;
}